*.pyc
*/HPCC-DINT/analysis/trace_reader
*/HPCC-DINT/simulation/.lock*
*/HPCC-DINT/simulation/.waf*
*/HPCC-DINT/simulation/build/
*/HPCC-DINT/simulation/mix/*000.txt
*/HPCC-DINT/simulation/mix/*50.txt
*/HPCC-DINT/simulation/mix/*100.txt
*/HPCC-DINT/simulation/mix/*.tr
*/HPCC-DINT/simulation/mix/DINT_*
*/HPCC-DINT/simulation/mix/slowdown_*
*/HPCC-DINT/simulation/mix/recirfrac_*
!*/HPCC-DINT/simulation/mix/wb50_b100.txt
*.out
*.pdf
*.png
*.dat
INT-Detect/bmv2_model/.libs/*
*.log
*.tr
INT-Path/system/packet/tmp
INT-Path/system/controller/tmp
Mininet-PINT/experiments/*
Mininet-PINT/final_results/*
*.swp
filter.sh
